:root {
  --m-t: 0.5s;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.splash-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(3, 169, 244, 0.7);
  backdrop-filter: blur(5px);
  transition: opacity var(--m-t);
  animation: fade 3s infinite linear backwards;
}
.splash-screen h1 {
  font-weight: bold;
  font-size: clamp(24px, 8vw, 8rem);
  text-align: center;
  color: white;
  transition: opacity var(--m-t);
}
.control-btns-container,
.game-popups {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.control-btns-container {
  z-index: 40;
}
.control-btns span {
  color: white;
  background-color: #f44336;
  padding: 15px 25px;
  font-size: 25px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  min-width: max-content;
  transition: var(--m-t);
}
.control-btns-container > span {
  position: relative;
}
.control-btns-container > span::before,
.control-btns-container > span::after {
  content: "";
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  width: 4px;
  height: 50%;
  border-radius: 1px;
  background-color: white;
}
.control-btns-container > span::before {
  left: -10px;
}
.control-btns-container > span::after {
  right: -10px;
}
@keyframes fade {
  0% {
    background: rgba(3, 169, 244, 0.8);
    backdrop-filter: blur(5px);
  }
  50% {
    background: rgba(3, 168, 244, 0.9);
    backdrop-filter: blur(10px);
  }
  100% {
    background: rgba(3, 168, 244, 0.8);
    backdrop-filter: blur(5px);
  }
}
.start-game-popup-container {
  position: relative;
}
.popups {
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 100%;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup {
  background: #2196f3;
  padding: 40px 20px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  height: fit-content;
  opacity: 0;
  transition: var(--m-t);
  position: relative;
}
.popup h2 {
  margin-top: -20px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.close-popup {
  padding: 10px;
  border-radius: 50%;
}
/* Start Popup */
.get-name-popup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 60px 20px;
  gap: 10px;
  transform: translateZ(-500px) rotateX(90deg);
}
.get-name-popup input {
  border: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  padding-bottom: 6px;
  outline: none;
  width: 100%;
  color: white;
  margin-top: 10px;
}
.get-name-popup input::placeholder {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}
.actions {
  width: 100%;
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.actions :first-child,
.actions :last-child {
  padding: 10px;
  border: 3px solid white;
  background-color: transparent;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
}
.actions :first-child {
  flex: 1;
}
.actions :last-child {
  width: fit-content;
}
.wrong-value,
.actions.wrong-value button {
  border-color: #db1a1a;
  animation: border-fade-color 1s infinite linear;
}
h2.wrong-value,
input.wrong-value::placeholder,
.actions.wrong-value button {
  color: #db1a1a;
}
@keyframes border-fade-color {
  0% {
    border-color: #db1a1a;
  }
  50% {
    border-color: rgba(255, 0, 0, 0.561);
  }
  100% {
    border-color: #db1a1a;
  }
}
/* songs Popup */
.popups .get-song-popup {
  height: calc(100% - 40px);
  transform: translateZ(-500px) rotateY(90deg);
}
.get-song-popup .choose-song-container {
  display: grid;
  gap: 30px;
}
.get-song-popup .choose-group label {
  display: flex;
  justify-content: space-between;
}
.get-song-popup .choose-group span {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.get-song-popup .choose-group [type="radio"] {
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  perspective: 50px;
}
.get-song-popup .choose-group [type="radio"]::before,
.get-song-popup .choose-group [type="radio"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.get-song-popup .choose-group [type="radio"]::before {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 3px solid #0921bf;
}
.get-song-popup .choose-group [type="radio"]::after {
  width: 17px;
  height: 17px;
  transition: var(--m-t);
  transform: translate(-50%, -50%) translateZ(-50px);
}
.get-song-popup .choose-group [type="radio"]:checked::after {
  transform: translate(-50%, -50%) translateZ(1px);
  background-color: blue;
}
.info-container {
  width: 1080px;
  margin: 20px auto 0;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid #2196f3;
}
.info-container .name {
  float: left;
  width: 50%;
}
.info-container .tries {
  float: right;
  text-align: right;
  width: 50%;
}
.memory-game-blocks {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  margin: 20px auto;
}
.memory-game-blocks.no-clicking {
  pointer-events: none;
}
.memory-game-blocks .game-block {
  height: 200px;
  transition: transform var(--m-t);
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 1 0 200px;
  margin: 0 10px 20px;
}
.memory-game-blocks .game-block.flipped,
.memory-game-blocks .game-block.matched {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}
.memory-game-blocks .game-block .front {
  background-color: #1e1e1e;
  line-height: 200px;
}
.memory-game-blocks .game-block .front:before {
  content: "?";
}
.memory-game-blocks .game-block .back {
  background-color: #1d6f98;
  transform: rotateY(180deg);
}
.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  color: white;
  border: 5px solid #2196f3;
  font-size: 180px;
  font-weight: bold;
}
