@media (max-width: 1024px) {
  .control-btns-container {
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
  }
  .popups {
    flex-direction: column;
    height: calc(100% - 100px);
    top: 50px;
  }
  .popups .get-mode-popup {
    flex: 1;
  }
  .info-container {
    width: 750px;
  }
  .memory-game-blocks {
    width: 750px;
  }
}
@media (max-width: 480px) {
  .info-container {
    width: 360px;
  }
  .memory-game-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 360px;
  }
  .memory-game-blocks .game-block {
    height: 150px;
    aspect-ratio: 1;
  }
  .memory-game-blocks .game-block .face {
    font-size: 100px;
  }
}
@media (max-width: 350px) {
  .info-container {
    width: 300px;
  }
}
